/* 
colors: 
  roxo- 6c63ff;
        3F3D56
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  line-height: 1.2;
}

body {
  font-family: sans-serif;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15rem;
  /* height: 100vh; */
}

.container {
  width: 123.2rem;
}

.home-headline,
.about-headline,
.skills-headline, 
.projects-headline,
.contacts-headline {
  font-size: 3rem;
}

.home-headline,
.skills-headline, 
.projects-headline,
.contacts-headline {
  color: #3F3D56;
}

img {
  width: 49rem;
  height: 35rem;
}

header {
  position: fixed;
  top: 0;
  width: 100%;

  & .header-container {
    background-color: #3F3D56;
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    align-items: center;
    width: 100%;
    font-family: "Inter";
    
    & .logo {
      & h1 {
        font-size: 3rem;
        
        & sup {
          position: relative;
          top: 3px;
          right: 6px;
          font-size: 3.5rem;
        }
      }
    }

    & nav {
      font-size: 1.44rem;
      & ul {
        display: flex;
        gap: 1.6rem;

        & li {
          list-style: none;
          
          & a {
            text-decoration: none;
            font-size: 1.55rem;
            text-transform: uppercase;
            font-weight: 700;
            color: inherit;
            padding-bottom: .3rem;
            border-bottom: solid 3px transparent;
            transition: all .3s ease-in;

            &:hover {
              border-bottom-color: #fff;
            }
          }
        }
      }
    }
  }
}



.home-container {
  display: flex;
  gap: 15rem;
  height: 60rem;

  & .home-headline {
    display: flex;
    gap: 2.5rem;
    flex-direction: column;
    width: 55rem;
    max-width: 100%;
    align-self: center;
    text-align: start;
    line-height: 1.2;
  }

  & .home-images {
    align-items: center;
    display: flex;
  }
}


.about {
  background-color: #A09BFF;
  color: #fff;

  & .about-container {
    display: flex;
    align-items: center;
    gap: 15rem;

    & .about-headline {
      display: flex;
      gap: 2.5rem;
      flex-direction: column;
      width: 55rem;
    }
  }
}

.skills {
  & .skills-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    & .skills-headline {
      & h1 {
        padding-bottom: 2.5rem;
      }
    }
  
    & .skills-tech-container {
      display: flex;
      padding: 4rem;
      border-radius: 8px;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    
      & .skills-technologies-logos {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 5rem;
        justify-content: center;

        & .tech-logos {
          width: 35rem;
          height: 25rem;
        } 

        & .html {
          width: 25rem;
        }

        & .css {
          width: 20rem;

        }

        & .js {
          width: 30rem;
          height: 26.5rem;
          margin-top: -1.05rem
        }

        & .git {
          width: 31rem;
          height: 30rem;
        }

        & .reactjs {
          width: 40rem;
        }

        & .bootstrap {
          width: 25rem;
        }
      }
    }
  }
}

.projects {
  padding: 10rem 15rem;
  & .projects-container {
    height: 100%;

    & .projects-headline {
      & h1 {
        & a {
          color: #3F3D56;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
        & .bi-box-arrow-up-right {
          font-size: 22px;
          margin-top: 15px;
        }
      }
    }

    & .project-box {
      display: flex;
      align-items: flex-start;
      gap: 4rem;
      border-bottom: 1px solid #C2C2C2;
      padding: 2.5rem 0;

      & .project-image-box {
        width: 24.5rem;
        height: 18rem;

        & .project-image {
          width: 100%;
          height: 100%;
          border-radius: 6px;
        }
      }
      
      & .project-detail {
        width: 70rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 18rem; 

        & .project-name {
          font-size: 2rem;
          color: #21243D;
          text-decoration: none;
          /* width: 15rem; */

          & .bi-box-arrow-up-right {
            font-size: 1.5rem;
          }
        }

        & .project-tech-stack {
          & .tech-icons-container {
            display: flex;
            gap: 2rem;
            list-style: none;

            & .tech-icon-box {
              width: 40px;
              height: 40px;
              border: 2px solid #21243D;
              border-radius: 50%;
              padding: 4px;

              & .tech-icon {
                width: 100%;
                height: 100%;
              }
            }
          }
        }

        & .project-description {
          font-size: 2rem;
        }
      }
    } 
  }
}

.contact {
  & .contact-container {
    display: flex;
    flex-direction: column;

    & .contacts-headline {
      & h1 {
        padding-bottom: 2.5rem;
      }
    }

    & .contact-box {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4rem;
      height: 60vh;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);

      & .contact-forms {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        list-style: none;

        & .contact {
          font-size: 3.2rem;

          & a {
            text-decoration: none;
            color: #000;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

footer {
  & p {
    background-color: #3F3D56;
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.6rem;
    font-weight: 700;
  }
}